* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fc;
  color: #5a5c69;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.75rem;
  color: #5a5c69;
}

h3 {
  font-size: 1.25rem;
  color: #5a5c69;
}
